<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:23789/" binding="basicHttpBinding"  contract="Common.ICalculator"
                name="ep001">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>