<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Server.CalculatorService">
        <endpoint address="http://localhost:23789/" binding="basicHttpBinding" contract="Common.ICalculator" />
      </service>
    </services>
  </system.serviceModel>
</configuration>