<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfException.Server.CalcService">
        <endpoint address="http://localhost:23789/" binding="basicHttpBinding" contract="WcfException.Common.ICalcService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>